@model ListMsgTypesVM

@{
    ViewData["Title"] = "Your Messages";
}

&nbsp;
<h4>@ViewData["Title"]</h4>
&nbsp;
<div class="container">
    <div class="row">
        <div class="col-6">
            <label>Amazon Messages :</label>
        </div>
        <div class="col-6">
            <label>Azure Messages :</label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id=amazonMsgId>
                <li>@Model.amazonMessage</li>
            </ul>
        </div>
        <div class="col-6">
            <ul id=azureMsgId>
                <li>@Model.azureMessage</li>
            </ul>
        </div>
    </div>
</div>

<script language="javascript">
    setTimeout(function () {
        window.location.reload(1);
    }, 4000);
</script>
